@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");

html {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: #fcf6f5ff;
}

h1,
h2,
p {
  margin: 0;
}

h1 {
  padding-top: 8px;
  padding-left: 5%;
}

body > div {
  display: flex;
  height: 100%;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  font-weight: bold;
}

#sidebar-nav {
  display: grid;
  height: 100%;
  width: 15%;
  background-color: #2bae66ff;
  color: #fcf6f5ff;
}

#sidebar-nav > div:first-child {
  display: grid;
  grid: auto 1fr / 1fr;
  gap: 5%;
}

#nav-items {
  display: grid;
  grid-template-rows: min-content min-content;
  gap: 10%;
}

#nav-items ul {
  display: grid;
  gap: 5%;
}

ul > div {
  display: flex;
  align-items: center;
  gap: 5%;
  padding-left: 5%;
}

#content-section {
  display: grid;
  grid-template-rows: 1fr 4fr;
  width: 85%;
  height: 100%;
}

header {
  display: grid;
  grid-template-rows: 1fr 1fr;
  width: 100%;
}

header > div {
  display: grid;
}

header > div:first-child,
header > div:last-child {
  width: 100%;
  display: flex;
}

#search-section,
#greeting-section {
  width: 70%;
}

#profile-section,
#action-section {
  width: 30%;
}

#search-section {
  display: flex;
  padding: 16px;
  gap: 1%;
}

#search-icon {
  width: 1.5rem;
  height: 1.5rem;
}

input[type="text"] {
  width: 60%;
  height: 1.25rem;
}

#profile-section {
  display: flex;
  padding: 16px;
  gap: 3%;
  justify-content: center;
  /* align-items: center; */
}

#profile-name {
  padding-top: 16px;
  font-weight: bolder;
}

#notification-icon {
  padding-top: 8px;
}

#profile-name-bold {
  font-size: 1.5rem;
  font-weight: bold;
}

#greeting-section {
  padding-left: 16px;
  display: flex;
  gap: 2%;
}

#greeting-section > div {
  padding-top: 12px;
}

button {
  all: unset;
  border-radius: 50px;
  padding: 8px;
  width: 80px;
  height: 20px;
  text-align: center;
  background-color: #2bae66ff;
  color: #fcf6f5ff;
  font-weight: 500;
}

#action-section {
  display: flex;
  padding-top: 16px;
  justify-content: center;
  gap: 3%;
}

main {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr;
  width: 100%;
}

#projects-section {
  display: grid;
  grid-template-rows: auto 3fr;
}

#projects-grid {
  display: grid;
  grid: 1fr 1fr 1fr / 1fr 1fr;
}

.project-card {
  width: 200px;
  height: 80px;
  border: 2px solid;
}

#news-section {
  display: grid;
  grid-template-rows: 1fr 0.9fr;
}

#announcements-section,
#trending-section {
  display: grid;
  grid-template-rows: auto 1fr;
  width: 100%;
  height: 100%;
}

#announcements-card,
#trending-card {
  border: 2px solid;
}

.icon {
  width: 2rem;
  height: 2rem;
}

#sidebar-nav .icon {
  filter: invert(1);
}

.user-profile-pic {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}

.mini-profile-pic {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}
