html {
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
}

h1,
h2,
p {
  margin: 0;
}

body > div {
  display: flex;
  height: 100%;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#sidebar-nav {
  display: grid;
  height: 100%;
  width: 25%;
}

#content-section {
  display: grid;
  grid-template-rows: 1fr 4fr;
  width: 75%;
  height: 100%;
}

header {
  display: grid;
  grid-template-rows: 1fr 1fr;
  width: 100%;
}

header > div {
  display: grid;
}

header > div:first-child,
header > div:last-child {
  width: 100%;
  display: flex;
}

#search-section,
#greeting-section {
  width: 70%;
}

#profile-section,
#action-section {
  width: 30%;
}

main {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr;
  width: 100%;
}

#projects-section {
  display: grid;
  grid-template-rows: auto 3fr;
}

#projects-grid {
  display: grid;
  grid: 1fr 1fr 1fr / 1fr 1fr;
}

.project-card {
  width: 200px;
  height: 80px;
  border: 2px solid;
}

#news-section {
  display: grid;
  grid-template-rows: 1fr 0.9fr;
}

#announcements-section,
#trending-section {
  display: grid;
  grid-template-rows: auto 1fr;
  width: 100%;
  height: 100%;
}

#announcements-card,
#trending-card {
  border: 2px solid;
}
